.remind-container {
  width: 100%;

}
.remind-title-div {
  font-weight: 600;
  width: 100%;
  text-align: left;
  margin: 10px 5px;

}
.remind-title-span {

}
.remind-panel {
  display: flex;
  box-sizing: border-box;
  flex-flow: row wrap;
  justify-content: start;
  margin-left: 5px;

}